* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
.app{
    display: flex;
}
.mainContent{
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

@media screen and (max-width: 755px) {
    .app{
        flex-direction: column;
    }
    .mainContent{
        padding: 0;
        height: 93vh;
    }
}